In [3]:
import pandas as pd
t= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df = t.copy()

## 1. DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [13]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['month'] = df['DateTime'].dt.month
df.value_counts('month').sort_index().to_frame('월별 합계')

       월별 합계
month
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

## 2. 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [24]:
df['hour'] = df['DateTime'].dt.hour
min(df.groupby('hour').mean().Temperature.values)

16.111099816849816

## 3. 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [32]:
max(df[df.month == 3].groupby('hour').mean().Temperature.values)

18.393602150537635

## 4. Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [70]:
df[df.iloc[:,6] > df.iloc[:,7]].Humidity.mean()

68.23624448055094

## 5. 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [86]:
t = df.corr().iloc[5:8,5:8]
t

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

## 6. Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [101]:
def rank(x):
    if x < 10:
        return 'A'
    elif x < 20:
        return 'B'
    elif x < 30:
        return 'C'
    else:
        return "D"

df['rank'] = df['Temperature'].map(rank)
df.value_counts('rank')

rank
B    26993
C    21105
A     2874
D     1444
dtype: int64

## 7. 6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [106]:
df[(df['month'] == 6) & (df['hour'] == 12)].Temperature.std()

2.049941782795103

## 8. 6월 데이터중 12시의 Temperature의 분산을 구하여라

In [107]:
df[(df['month'] == 6) & (df['hour'] == 12)].Temperature.var()

4.202261312849164

## 9. Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [116]:
df[df['Temperature'] >= df['Temperature'].mean()].sort_values('Temperature').Humidity.values[3]

87.9

## 10. **Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [118]:
df[df['Temperature'] >= df['Temperature'].median()].sort_values('Temperature').Humidity.values[3]

80.3