## 데이터 불러오기

In [8]:
import pandas as pd
origin =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df = origin.copy()
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

## 1. 전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [9]:
(df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()

52.19539414750672

## 2. 50~59세의 신장평균을 구하여라

In [31]:
df['나이대'] = ((df['측정나이'] // 10)*10).astype(int)
df[df['나이대'] == 50]['신장 : cm'].mean()

164.07490107405295

## 3. 연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [33]:
df['나이대'].value_counts()

20    5831
30    2660
40    1801
50    1769
60    1335
Name: 나이대, dtype: int64

## 4. 연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [43]:
df.groupby('나이대').등급.value_counts().to_frame('합')

           합
나이대 등급
20  A   1585
    C   1455
    B   1443
    D   1348
30  A    743
    B    697
    C    626
    D    594
40  D    532
    C    455
    B    428
    A    386
50  D    564
    C    474
    B    410
    A    321
60  B    371
    C    339
    A    314
    D    311

## 5. 남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [52]:
남성 = df[(df['측정회원성별'] == "M")]
abs(남성[남성['등급'] == 'A'].mean() - 남성[남성['등급'] == 'D'].mean())['체지방율 : %']

C:\Users\inseo\AppData\Local\Temp\ipykernel_11048\87981074.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  abs(남성[남성['등급'] == 'A'].mean() - 남성[남성['등급'] == 'D'].mean())['체지방율 : %']

7.932086486137457

## 6. 여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [54]:
여성 = df[(df['측정회원성별'] == "F")]
abs(여성[여성['등급'] == 'A'].mean() - 여성[여성['등급'] == 'D'].mean())['체중 : kg']

C:\Users\inseo\AppData\Local\Temp\ipykernel_11048\3906867989.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  abs(여성[여성['등급'] == 'A'].mean() - 여성[여성['등급'] == 'D'].mean())['체중 : kg']

5.176211590296511

## 7. bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [65]:
df["신장m"] = df['신장 : cm']*0.01
df['bmi'] = df['체중 : kg'] / df["신장m"]**2
df[df['측정회원성별'] == 'M'].bmi.mean()

24.461344098193027

## 8. bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [67]:
df[df['bmi'] < df['체지방율 : %']]['체중 : kg'].mean()

61.740880639254314

## 9.  남성과 여성의 악력 평균의 차이를 구하여라

In [69]:
abs(남성['악력D : kg'].mean() - 여성['악력D : kg'].mean())

17.559541850474677

## 10. 남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [71]:
abs(남성['교차윗몸일으키기 : 회'].mean() - 여성['교차윗몸일으키기 : 회'].mean())

14.243156833157634