## 데이터 불러오기

In [1]:
import pandas as pd
pd.set_option('display.max_columns',50)
pd.set_option('display.float_format', '{:.4f}'.format)

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6000,3.6000,8.3000,0.4390,0.8000,2.1000,0.3590,2.9000,6.1000,0.4680,0.4860,1.1000,1.8000,0.5950,2.0000,4.5000,6.5000,1.1000,0.5000,0.6000,1.2000,2.1000,9.1000
1,2,Steven Adams,C,28,MEM,76,75,26.3000,2.8000,5.1000,0.5470,0.0000,0.0000,0.0000,2.8000,5.0000,0.5480,0.5470,1.4000,2.6000,0.5430,4.6000,5.4000,10.0000,3.4000,0.9000,0.8000,1.5000,2.0000,6.9000
2,3,Bam Adebayo,C,24,MIA,56,56,32.6000,7.3000,13.0000,0.5570,0.0000,0.1000,0.0000,7.3000,12.9000,0.5620,0.5570,4.6000,6.1000,0.7530,2.4000,7.6000,10.1000,3.4000,1.4000,0.8000,2.6000,3.1000,19.1000
3,4,Santi Aldama,PF,21,MEM,32,0,11.3000,1.7000,4.1000,0.4020,0.2000,1.5000,0.1250,1.5000,2.6000,0.5600,0.4240,0.6000,1.0000,0.6250,1.0000,1.7000,2.7000,0.7000,0.2000,0.3000,0.5000,1.1000,4.1000
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3000,5.4000,9.7000,0.5500,0.3000,1.0000,0.3040,5.1000,8.8000,0.5780,0.5660,1.9000,2.2000,0.8730,1.6000,3.9000,5.5000,0.9000,0.3000,1.0000,0.9000,1.7000,12.9000

## 1. Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라

In [3]:
round(df[df['Tm'] == 'TOR'].Age.mean(), 4)

24.8696

## 2. Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라

In [9]:
# df['Pos']
df[df['Age'] == df['Age'].min()].Pos.value_counts().index[0]

'SG'

## 3. 선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라

In [ ]:
for i,n in enumerate(df['Player']):
    df['f_name'][i] = n.split()[0]

In [77]:
print(df['f_name'].value_counts().index[0])
print(df['f_name'].value_counts().values[0])

Justin
14

In [76]:
df["frist_name"] =df['Player'].str.split().str[0]
print(df["frist_name"].value_counts().index[0])
print(df["frist_name"].value_counts().values[0])

Justin
14

## 4. PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라

In [79]:
df.groupby('Pos').mean().PTS

Pos
C        7.6908
C-PF    12.8500
PF       7.7375
PF-SF    8.5000
PG       8.3252
PG-SG   22.0000
SF       7.2703
SF-SG    8.6600
SG       7.8106
SG-PG    9.5250
SG-SF    7.3600
Name: PTS, dtype: float64

## 5. G컬럼은 참여한 경기의 숫자이다. 각 팀별로 가장 높은 경기참여 수를 가진 선수들의 경기 참여 숫자의 평균을 구하여라

In [85]:
df.sort_values('G', ascending=False).groupby('Tm').head(1).mean().G

C:\Users\inseo\AppData\Local\Temp\ipykernel_20560\516014530.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sort_values('G', ascending=False).groupby('Tm').head(1).mean().G

77.51612903225806

## 6. Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은

In [93]:
df[(df['Tm'] == "MIA") & (df['Pos'].isin(['C', 'PF']))].mean().MP

C:\Users\inseo\AppData\Local\Temp\ipykernel_20560\3551815278.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[(df['Tm'] == "MIA") & (df['Pos'].isin(['C', 'PF']))].mean().MP

16.787499999999998

## 7. 전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?

In [97]:
df[df['G'] >= df["G"].mean()*1.5].mean()['3P']

C:\Users\inseo\AppData\Local\Temp\ipykernel_20560\517742483.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df['G'] >= df["G"].mean()*1.5].mean()['3P']

1.3853658536585358

## 8.  Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?

In [100]:
a = df[df['Age'] >= df['Age'].mean()]
b = df[df['Age'] < df['Age'].mean()]
a['G'].mean() - b['G'].mean()

3.787674551781862

## 9. 평균나이가 가장 젊은 팀은 어디인가

In [106]:
df.groupby("Tm").mean().Age.sort_values().index[0]

'MEM'

## 10. Pos그룹별 평균 MP값을 구하여라

In [109]:
df.groupby('Pos').mean().MP

Pos
C       16.9900
C-PF    25.3500
PF      17.9375
PF-SF   27.3000
PG      19.5477
PG-SG   37.2000
SF      17.5146
SF-SG   20.3400
SG      18.5543
SG-PG   22.9500
SG-SF   19.6200
Name: MP, dtype: float64