## 데이터 불러오기

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

## 1. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [15]:
t = df[(df['년도'] == 2018) & (df['행복랭킹'] == 10)].점수.values[0] + df[(df['년도'] == 2019) & (df['행복랭킹'] == 10)].점수.values[0]
t/2

7.259

## 2. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [24]:
df[df['행복랭킹'] <= 50].groupby('년도').mean().점수.to_frame()

           점수
년도
2018  6.64678
2019  6.67002

## 3. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [29]:
df[df['년도']==2018].점수.corr(df[df['년도']==2018]['부패에 대한인식'])

0.40529152271509994

## 4. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [44]:
t= df[['행복랭킹', '나라명']]
len(t[t.duplicated()])

15

## 5. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [66]:
t = df[df['년도']==2019]
t = t.corr().unstack().to_frame('값').reset_index().dropna()
t = t[t['값']!=1]
t.sort_values('값',ascending=False).head()

   level_0 level_1         값
38   행복기대치   상대GDP  0.835462
22   상대GDP   행복기대치  0.835462
19   상대GDP      점수  0.793883
11      점수   상대GDP  0.793883
37   행복기대치      점수  0.779883

## 6. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [71]:
df.groupby('년도').tail().groupby('년도').mean().점수.to_frame()

          점수
년도
2018  3.1800
2019  3.1408

## 7. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [82]:
# df[df[df['년도'] == 2019].상대GDP > df[df['년도'] == 2019].상대GDP.mean()]
t = df[df['년도'] == 2019]
upper = t[t.상대GDP >= t.상대GDP.mean()]
under = t[t.상대GDP <= t.상대GDP.mean()]

upper.mean().점수 - under.mean().점수

C:\Users\inseo\AppData\Local\Temp\ipykernel_23580\1996821621.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  upper.mean().점수 - under.mean().점수

1.3904839572192538

## 8. 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [97]:
# df['부패에 대한인식'].sort_values(ascending = False).head(20).mean()

df.sort_values(['년도','부패에 대한인식'], ascending = False).groupby('년도').head(20).groupby('년도').mean()['부패에 대한인식'].to_frame()

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

## 9. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [111]:
t2018 = df[(df['행복랭킹']<= 50) & (df['년도'] == 2018)]
t2019 = df[(df['행복랭킹']> 50) & (df['년도'] == 2019)]
t2018.나라명.isin(t2019.나라명).sum()

3

## 10. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [175]:
# 진짜 바보같이 품 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
t2018 = df[df['년도']==2018]
t2019 = df[df['년도']==2019]
target = t2018[t2018.나라명.isin(t2019.나라명)].나라명
t = df[df['나라명'].isin(target)]
t1 = t[t['년도'] == 2018].sort_values('나라명')
t2 = t[t['년도'] == 2019].sort_values('나라명')

In [165]:
t1 = t1[['나라명', '점수']].reset_index(drop=True)
t2 = t2[['나라명', '점수']].reset_index(drop=True)
display(t1)
t2.rename(columns = {'점수':"점수2019"})

             나라명     점수
0    Afghanistan  3.632
1        Albania  4.586
2        Algeria  5.295
3      Argentina  6.388
4        Armenia  4.321
..           ...    ...
147    Venezuela  4.806
148      Vietnam  5.103
149        Yemen  3.355
150       Zambia  4.377
151     Zimbabwe  3.692

[152 rows x 2 columns]

             나라명  점수2019
0    Afghanistan   3.203
1        Albania   4.719
2        Algeria   5.211
3      Argentina   6.086
4        Armenia   4.559
..           ...     ...
147    Venezuela   4.707
148      Vietnam   5.175
149        Yemen   3.380
150       Zambia   4.107
151     Zimbabwe   3.663

[152 rows x 2 columns]

In [169]:
yesssss = pd.merge(t1, t2, on='나라명')

In [174]:
yesssss['diff'] = yesssss['점수_y'] - yesssss['점수_x']
yesssss.sort_values('diff', ascending = False).head(1)[['나라명', 'diff']]

        나라명  diff
20  Burundi  0.87