## 라이브러리

In [15]:
import pandas as pd
import numpy as np

## 데이터 불러오기

In [16]:
#데이터 로드
X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
X_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")
y_test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv')

display(X_train.head())
display(y_train.head())

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

## 1. 데이터셋 확인, EDA

### shape

In [17]:
print(X_train.shape)
print('-'*80)
print(X_test.shape)
print('-'*80)
print(y_train.shape)
print('-'*80)

(678, 33)
--------------------------------------------------------------------------------
(366, 33)
--------------------------------------------------------------------------------
(678, 2)
--------------------------------------------------------------------------------

### info

In [18]:
print(X_train.info())
print('-'*80)
print(X_test.info())
print('-'*80)
print(y_train.info())
print('-'*80)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   678 non-null    int64
 1   school      678 non-null    object
 2   sex         678 non-null    object
 3   age         678 non-null    int64
 4   address     678 non-null    object
 5   famsize     678 non-null    object
 6   Pstatus     678 non-null    object
 7   Medu        678 non-null    int64
 8   Fedu        678 non-null    int64
 9   Mjob        678 non-null    object
 10  Fjob        678 non-null    object
 11  reason      678 non-null    object
 12  guardian    678 non-null    object
 13  traveltime  678 non-null    int64
 14  studytime   678 non-null    int64
 15  failures    678 non-null    int64
 16  schoolsup   678 non-null    object
 17  famsup      678 non-null    object
 18  paid        678 non-null    object
 19  activities  678 non-null    object
 20  nursery     678 non-null    object
 21  higher      678 non-null    object
 22  internet    678 non-null    object
 23  romantic    678 non-null    object
 24  famrel      678 non-null    int64
 25  freetime    678 non-null    int64
 26  goout       678 non-null    int64
 27  Dalc        678 non-null    int64
 28  Walc        678 non-null    int64
 29  health      678 non-null    int64
 30  absences    678 non-null    int64
 31  G1          678 non-null    int64
 32  G2          678 non-null    int64
dtypes: int64(16), object(17)
memory usage: 174.9+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   366 non-null    int64
 1   school      366 non-null    object
 2   sex         366 non-null    object
 3   age         366 non-null    int64
 4   address     366 non-null    object
 5   famsize     366 non-null    object
 6   Pstatus     366 non-null    object
 7   Medu        366 non-null    int64
 8   Fedu        366 non-null    int64
 9   Mjob        366 non-null    object
 10  Fjob        366 non-null    object
 11  reason      366 non-null    object
 12  guardian    366 non-null    object
 13  traveltime  366 non-null    int64
 14  studytime   366 non-null    int64
 15  failures    366 non-null    int64
 16  schoolsup   366 non-null    object
 17  famsup      366 non-null    object
 18  paid        366 non-null    object
 19  activities  366 non-null    object
 20  nursery     366 non-null    object
 21  higher      366 non-null    object
 22  internet    366 non-null    object
 23  romantic    366 non-null    object
 24  famrel      366 non-null    int64
 25  freetime    366 non-null    int64
 26  goout       366 non-null    int64
 27  Dalc        366 non-null    int64
 28  Walc        366 non-null    int64
 29  health      366 non-null    int64
 30  absences    366 non-null    int64
 31  G1          366 non-null    int64
 32  G2          366 non-null    int64
dtypes: int64(16), object(17)
memory usage: 94.5+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  678 non-null    int64
 1   G3         678 non-null    int64
dtypes: int64(2)
memory usage: 10.7 KB
None
--------------------------------------------------------------------------------

### isna

In [19]:
print(X_train.isna().sum().sum())
print('-'*80)
print(X_test.isna().sum().sum())
print('-'*80)
print(y_train.isna().sum().sum())
print('-'*80)

0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------

### 불필요 컬럼 제거

In [37]:
# target = X_train.corr().unstack().reset_index().rename(columns={0:'상관계수'})
# target[target['상관계수']!=1].sort_values('상관계수', ascending = False).head(10)

# X_test_ID = X_test['StudentID']
# X_train.drop(columns=['StudentID'], inplace=True)
# X_test.drop(columns=['StudentID'], inplace=True)
# y_train.drop(columns=['StudentID'], inplace=True)
y_test.drop(columns=['StudentID'], inplace=True)

## 2. Feature Engineering

### 표준화(스케일링)

In [23]:
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()
X_train[['age', 'G1', 'G2']] = Scaler.fit_transform(X_train[['age', 'G1', 'G2']])
X_test[['age', 'G1', 'G2']] = Scaler.fit_transform(X_test[['age', 'G1', 'G2']])

### 원-핫 인코딩(pd.get_dummies)

In [24]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

### 데이터 분류(train_test_split)

In [25]:
from sklearn.model_selection import train_test_split
X_tr, X_ts, y_tr, y_ts =  train_test_split(X_train, y_train, test_size=0.3)

## 3. 모델링

### 랜덤포레스트

In [29]:
from sklearn.ensemble import RandomForestRegressor
modelRF = RandomForestRegressor()
modelRF.fit(X_tr, y_tr)
modelRF.score(X_ts, y_ts)

C:\Users\inseo\AppData\Local\Temp\ipykernel_8168\540661701.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.8735782741101779

## 4. 모델 학습 및 예측, 평가

In [38]:
y_pred = modelRF.predict(X_ts)
Y_pred = modelRF.predict(X_test)

from sklearn.metrics import r2_score
# r2_score(y_ts, y_pred)
r2_score(y_test, Y_pred)
# y_test

0.8120231630211894