## 데이터 불러오기

In [1]:
import pandas as pd
#데이터 로드
X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_train.csv")
X_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_test.csv")
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_test.csv')


display(X_train.head())
display(X_test.head())
display(y_train.head())
display(y_test.head())

,ID,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,구강검진수검여부,치아우식증유무,치석
0,0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,...,126.0,12.9,1.0,0.7,18.0,19.0,27.0,Y,0.0,Y
1,1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,...,127.0,12.7,1.0,0.6,22.0,19.0,18.0,Y,0.0,Y
2,2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,...,151.0,15.8,1.0,1.0,21.0,16.0,22.0,Y,0.0,N
3,3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,...,226.0,14.7,1.0,1.0,19.0,26.0,18.0,Y,0.0,Y
4,4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,...,107.0,12.5,1.0,0.6,16.0,14.0,22.0,Y,0.0,N

,ID,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,구강검진수검여부,치아우식증유무,치석
0,8,M,80,160,65,91.0,0.9,0.7,1.0,1.0,...,94.0,14.5,1.0,1.0,29.0,19.0,39.0,Y,0.0,N
1,17,M,30,165,90,98.0,1.5,1.5,1.0,1.0,...,165.0,15.6,1.0,0.9,20.0,37.0,34.0,Y,0.0,N
2,20,M,40,170,75,81.0,1.5,1.5,1.0,1.0,...,98.0,16.4,1.0,0.7,25.0,32.0,73.0,Y,0.0,N
3,24,M,35,175,70,80.0,1.0,1.0,1.0,1.0,...,160.0,15.3,1.0,0.7,30.0,55.0,50.0,Y,0.0,N
4,25,M,35,160,75,93.0,1.0,1.2,1.0,1.0,...,132.0,14.7,1.0,1.1,35.0,58.0,56.0,Y,0.0,N

   ID  흡연상태
0   0     0
1   1     0
2   2     1
3   3     0
4   4     0

   ID  흡연상태
0   8     1
1  17     0
2  20     1
3  24     0
4  25     0

### shape

In [2]:
print(X_train.shape)
print('-'*80)
print(X_test.shape)
print('-'*80)
print(y_train.shape)
print('-'*80)

(44553, 26)
--------------------------------------------------------------------------------
(11139, 26)
--------------------------------------------------------------------------------
(44553, 2)
--------------------------------------------------------------------------------

In [3]:
print(X_train.describe())
print('-'*80)
print(X_test.describe())
print('-'*80)
print(y_train.describe())
print('-'*80)

                 ID   연령대코드(5세단위)     신장(5Cm단위)     체중(5Kg단위)          허리둘레  \
count  44553.000000  44553.000000  44553.000000  44553.000000  44553.000000
mean   27833.607389     44.210603    164.657038     65.883442     82.077247
std    16064.577297     12.089077      9.198571     12.823676      9.278288
min        0.000000     20.000000    130.000000     30.000000     51.000000
25%    13938.000000     40.000000    160.000000     55.000000     76.000000
50%    27819.000000     40.000000    165.000000     65.000000     82.000000
75%    41738.000000     55.000000    170.000000     75.000000     88.000000
max    55690.000000     85.000000    190.000000    135.000000    129.000000

              시력(좌)         시력(우)        청력(좌)         청력(우)         수축기혈압  \
count  44553.000000  44553.000000  44553.00000  44553.000000  44553.000000
mean       1.011734      1.008134      1.02561      1.026036    121.529055
std        0.488131      0.488762      0.15797      0.159245     13.688748
min        0.100000      0.100000      1.00000      1.000000     71.000000
25%        0.800000      0.800000      1.00000      1.000000    112.000000
50%        1.000000      1.000000      1.00000      1.000000    120.000000
75%        1.200000      1.200000      1.00000      1.000000    130.000000
max        9.900000      9.900000      2.00000      2.000000    240.000000

       ...      트리글리세라이드      HDL콜레스테롤      LDL콜레스테롤           혈색소  \
count  ...  44553.000000  44553.000000  44553.000000  44553.000000
mean   ...    126.721770     57.288421    115.037663     14.622194
std    ...     71.611991     14.795235     40.937878      1.564872
min    ...      8.000000      4.000000      1.000000      4.900000
25%    ...     74.000000     47.000000     92.000000     13.600000
50%    ...    108.000000     55.000000    113.000000     14.800000
75%    ...    160.000000     66.000000    136.000000     15.700000
max    ...    999.000000    618.000000   1860.000000     21.100000

                요단백       혈청크레아티닌    (혈청지오티)AST    (혈청지오티)ALT         감마지티피  \
count  44553.000000  44553.000000  44553.000000  44553.000000  44553.000000
mean       1.087020      0.886097     26.213678     27.084731     40.065517
std        0.404944      0.226092     19.087106     31.754805     50.723521
min        1.000000      0.100000      6.000000      1.000000      1.000000
25%        1.000000      0.800000     19.000000     15.000000     17.000000
50%        1.000000      0.900000     23.000000     21.000000     26.000000
75%        1.000000      1.000000     29.000000     31.000000     44.000000
max        6.000000     11.600000   1311.000000   2914.000000    999.000000

            치아우식증유무
count  44553.000000
mean       0.213521
std        0.409797
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

[8 rows x 23 columns]
--------------------------------------------------------------------------------
                 ID   연령대코드(5세단위)     신장(5Cm단위)     체중(5Kg단위)          허리둘레  \
count  11139.000000  11139.000000  11139.000000  11139.000000  11139.000000
mean   27893.067241     44.072179    164.618458     65.790915     81.923108
std    16127.425948     12.000426      9.179034     12.807125      9.257333
min        8.000000     20.000000    135.000000     30.000000     51.000000
25%    13867.000000     40.000000    160.000000     55.000000     75.500000
50%    27966.000000     40.000000    165.000000     65.000000     82.000000
75%    41861.000000     55.000000    170.000000     75.000000     88.000000
max    55691.000000     85.000000    190.000000    120.000000    125.800000

              시력(좌)         시력(우)         청력(좌)         청력(우)         수축기혈압  \
count  11139.000000  11139.000000  11139.000000  11139.000000  11139.000000
mean       1.016177      1.004677      1.025496      1.026573    121.354879
std        0.481814      0.474621      0.157633      0.160840     13.624561
min        0.100000      0.100000      1.000000      1.000000     79.000000
25%        0.800000      0.800000      1.000000      1.000000    112.000000
50%        1.000000      1.000000      1.000000      1.000000    120.000000
75%        1.200000      1.200000      1.000000      1.000000    130.000000
max        9.900000      9.900000      2.000000      2.000000    204.000000

       ...      트리글리세라이드      HDL콜레스테롤      LDL콜레스테롤           혈색소  \
count  ...  11139.000000  11139.000000  11139.000000  11139.000000
mean   ...    126.441422     57.298052    114.671874     14.624185
std    ...     71.753787     14.512360     40.881367      1.563072
min    ...     16.000000      4.000000      1.000000      4.900000
25%    ...     74.000000     47.000000     92.000000     13.600000
50%    ...    107.000000     55.000000    112.000000     14.800000
75%    ...    160.000000     65.500000    135.000000     15.800000
max    ...    466.000000    148.000000   1660.000000     20.900000

                요단백       혈청크레아티닌    (혈청지오티)AST    (혈청지오티)ALT         감마지티피  \
count  11139.000000  11139.000000  11139.000000  11139.000000  11139.000000
mean       1.087979      0.884298     26.059969     26.841278     39.498968
std        0.404653      0.202229     20.393956     27.484832     48.519680
min        1.000000      0.100000      9.000000      4.000000      5.000000
25%        1.000000      0.800000     19.000000     15.000000     17.000000
50%        1.000000      0.900000     23.000000     21.000000     25.000000
75%        1.000000      1.000000     28.000000     31.000000     43.000000
max        5.000000      7.400000   1090.000000   1400.000000    961.000000

            치아우식증유무
count  11139.000000
mean       0.212586
std        0.409156
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

[8 rows x 23 columns]
--------------------------------------------------------------------------------
                 ID          흡연상태
count  44553.000000  44553.000000
mean   27833.607389      0.367024
std    16064.577297      0.481998
min        0.000000      0.000000
25%    13938.000000      0.000000
50%    27819.000000      0.000000
75%    41738.000000      1.000000
max    55690.000000      1.000000
--------------------------------------------------------------------------------

### info

In [4]:
print(X_train.info())
print('-'*80)
print(X_test.info())
print('-'*80)
print(y_train.info())
print('-'*80)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           44553 non-null  int64
 1   성별코드         44553 non-null  object
 2   연령대코드(5세단위)  44553 non-null  int64
 3   신장(5Cm단위)    44553 non-null  int64
 4   체중(5Kg단위)    44553 non-null  int64
 5   허리둘레         44553 non-null  float64
 6   시력(좌)        44553 non-null  float64
 7   시력(우)        44553 non-null  float64
 8   청력(좌)        44553 non-null  float64
 9   청력(우)        44553 non-null  float64
 10  수축기혈압        44553 non-null  float64
 11  이완기혈압        44553 non-null  float64
 12  식전혈당(공복혈당)   44553 non-null  float64
 13  총콜레스테롤       44553 non-null  float64
 14  트리글리세라이드     44553 non-null  float64
 15  HDL콜레스테롤     44553 non-null  float64
 16  LDL콜레스테롤     44553 non-null  float64
 17  혈색소          44553 non-null  float64
 18  요단백          44553 non-null  float64
 19  혈청크레아티닌      44553 non-null  float64
 20  (혈청지오티)AST   44553 non-null  float64
 21  (혈청지오티)ALT   44553 non-null  float64
 22  감마지티피        44553 non-null  float64
 23  구강검진수검여부     44553 non-null  object
 24  치아우식증유무      44553 non-null  float64
 25  치석           44553 non-null  object
dtypes: float64(19), int64(4), object(3)
memory usage: 8.8+ MB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11139 entries, 0 to 11138
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           11139 non-null  int64
 1   성별코드         11139 non-null  object
 2   연령대코드(5세단위)  11139 non-null  int64
 3   신장(5Cm단위)    11139 non-null  int64
 4   체중(5Kg단위)    11139 non-null  int64
 5   허리둘레         11139 non-null  float64
 6   시력(좌)        11139 non-null  float64
 7   시력(우)        11139 non-null  float64
 8   청력(좌)        11139 non-null  float64
 9   청력(우)        11139 non-null  float64
 10  수축기혈압        11139 non-null  float64
 11  이완기혈압        11139 non-null  float64
 12  식전혈당(공복혈당)   11139 non-null  float64
 13  총콜레스테롤       11139 non-null  float64
 14  트리글리세라이드     11139 non-null  float64
 15  HDL콜레스테롤     11139 non-null  float64
 16  LDL콜레스테롤     11139 non-null  float64
 17  혈색소          11139 non-null  float64
 18  요단백          11139 non-null  float64
 19  혈청크레아티닌      11139 non-null  float64
 20  (혈청지오티)AST   11139 non-null  float64
 21  (혈청지오티)ALT   11139 non-null  float64
 22  감마지티피        11139 non-null  float64
 23  구강검진수검여부     11139 non-null  object
 24  치아우식증유무      11139 non-null  float64
 25  치석           11139 non-null  object
dtypes: float64(19), int64(4), object(3)
memory usage: 2.2+ MB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      44553 non-null  int64
 1   흡연상태    44553 non-null  int64
dtypes: int64(2)
memory usage: 696.3 KB
None
--------------------------------------------------------------------------------

### isna

In [5]:
print(X_train.isna().sum().sum())
print('-'*80)
print(X_test.isna().sum().sum())
print('-'*80)
print(y_train.isna().sum().sum())
print('-'*80)

0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------

### fillna

In [6]:
X_train = X_train.drop(columns = 'ID')
y_train = y_train.drop(columns = 'ID')
X_test_ID = X_test.pop('ID')

### 표준화

In [7]:
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()
X_train[['수축기혈압', '트리글리세라이드', '(혈청지오티)ALT']] = Scaler.fit_transform(X_train[['수축기혈압', '트리글리세라이드', '(혈청지오티)ALT']])
X_test[['수축기혈압', '트리글리세라이드', '(혈청지오티)ALT']] = Scaler.fit_transform(X_test[['수축기혈압', '트리글리세라이드', '(혈청지오티)ALT']])

### 원핫인코딩

In [8]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

### 검증용 데이터 분리

In [9]:
from sklearn.model_selection import train_test_split
X_tr, X_ts, y_tr, y_ts = train_test_split(X_train, y_train, test_size=0.3)

## 모델링

In [10]:
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(random_state=1234)
modelRF.fit(X_tr, y_tr)
modelRF.score(X_ts, y_ts)

C:\Users\inseo\AppData\Local\Temp\ipykernel_5048\3364517861.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.7556486607810864

In [13]:
y_pred = modelRF.predict(X_test)

In [14]:
a = pd.DataFrame({'ID':X_test_ID, '흡연상태':y_pred})

In [15]:
from sklearn.metrics import roc_auc_score
roc_auc_score(a['흡연상태'], y_test['흡연상태'])

0.8449114986194991

In [16]:
pd.DataFrame({'ID':X_test_ID, '흡연상태':y_pred}).to_csv('분류4. 성인 건강검진 데이터.csv')