## 데이터 불러오기

In [66]:
import pandas as pd
X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv")
X_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv")
y_test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_test.csv')

display(X_train.head())
display(y_train.head())
display(X_test.head())
display(y_test.head())

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990
3  13426  12999
4  16004  16990

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,12000,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0
1,12001,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0
2,12004,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0
3,12013,skoda,Scala,2019,Manual,3257,Petrol,145.0,49.6,1.0
4,12017,audi,RS6,2015,Semi-Auto,20982,Petrol,325.0,29.4,4.0

   carID  price
0  12000  38000
1  12001  23495
2  12004  59999
3  12013  16713
4  12017  46000

## 1. 데이터셋 확인, EDA

### shape

In [67]:
print(X_train.shape)
print("-"*80)
print(X_test.shape)
print("-"*80)
print(y_train.shape)
print("-"*80)

(4960, 10)
--------------------------------------------------------------------------------
(2672, 10)
--------------------------------------------------------------------------------
(4960, 2)
--------------------------------------------------------------------------------

### info

In [68]:
print(X_train.info())
print("-"*80)
print(X_test.info())
print("-"*80)
print(y_train.info())
print("-"*80)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carID         4960 non-null   int64
 1   brand         4960 non-null   object
 2   model         4960 non-null   object
 3   year          4960 non-null   int64
 4   transmission  4960 non-null   object
 5   mileage       4960 non-null   int64
 6   fuelType      4960 non-null   object
 7   tax           4960 non-null   float64
 8   mpg           4960 non-null   float64
 9   engineSize    4960 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 387.6+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2672 entries, 0 to 2671
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carID         2672 non-null   int64
 1   brand         2672 non-null   object
 2   model         2672 non-null   object
 3   year          2672 non-null   int64
 4   transmission  2672 non-null   object
 5   mileage       2672 non-null   int64
 6   fuelType      2672 non-null   object
 7   tax           2672 non-null   float64
 8   mpg           2672 non-null   float64
 9   engineSize    2672 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 208.9+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   carID   4960 non-null   int64
 1   price   4960 non-null   int64
dtypes: int64(2)
memory usage: 77.6 KB
None
--------------------------------------------------------------------------------

### describe

In [69]:
print(X_train.describe())
print("-"*80)
print(X_test.describe())
print("-"*80)
print(y_train.describe())
print("-"*80)

              carID         year        mileage          tax          mpg  \
count   4960.000000  4960.000000    4960.000000  4960.000000  4960.000000
mean   15832.446169  2016.737903   24956.286895   152.332661    50.370766
std     2206.717006     2.884035   24443.333662    82.403844    35.746505
min    12002.000000  1997.000000       1.000000     0.000000     2.800000
25%    13929.250000  2016.000000    5641.250000   145.000000    38.700000
50%    15840.000000  2017.000000   19000.000000   145.000000    47.100000
75%    17765.750000  2019.000000   36702.000000   150.000000    54.300000
max    19629.000000  2020.000000  259000.000000   580.000000   470.800000

        engineSize
count  4960.000000
mean      2.124375
std       0.789368
min       0.000000
25%       1.600000
50%       2.000000
75%       2.800000
max       6.600000
--------------------------------------------------------------------------------
              carID         year        mileage          tax          mpg  \
count   2672.000000  2672.000000    2672.000000  2672.000000  2672.000000
mean   15784.043039  2016.720434   24617.528443   153.261602    49.787275
std     2197.045979     2.898906   23142.032992    80.742530    35.269981
min    12000.000000  1970.000000       1.000000     0.000000     2.800000
25%    13889.750000  2016.000000    6000.000000   145.000000    37.700000
50%    15777.500000  2017.000000   18548.000000   145.000000    47.100000
75%    17661.500000  2019.000000   36272.250000   160.000000    54.300000
max    19631.000000  2020.000000  167054.000000   580.000000   470.800000

        engineSize
count  2672.000000
mean      2.135105
std       0.768596
min       0.000000
25%       1.600000
50%       2.000000
75%       2.800000
max       6.300000
--------------------------------------------------------------------------------
              carID          price
count   4960.000000    4960.000000
mean   15832.446169   23469.943750
std     2206.717006   16406.714563
min    12002.000000     450.000000
25%    13929.250000   12000.000000
50%    15840.000000   18999.000000
75%    17765.750000   30335.750000
max    19629.000000  145000.000000
--------------------------------------------------------------------------------

### isna

In [70]:
print(X_train.isna().sum().sum())
print("-"*80)
print(X_test.isna().sum().sum())
print("-"*80)
print(y_train.isna().sum().sum())
print("-"*80)

0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------

### 불필요 컬럼 제거

In [71]:
X_train = X_train.drop(columns = 'carID')
y_train = y_train.drop(columns = 'carID')
X_test_carID = X_test.pop('carID')

## 2. Feature Engineering

### 표준화(스케일링)

In [72]:
print(X_train.describe())
print("-"*80)
print(X_test.describe())
print("-"*80)
print(y_train.describe())
print("-"*80)

              year        mileage          tax          mpg   engineSize
count  4960.000000    4960.000000  4960.000000  4960.000000  4960.000000
mean   2016.737903   24956.286895   152.332661    50.370766     2.124375
std       2.884035   24443.333662    82.403844    35.746505     0.789368
min    1997.000000       1.000000     0.000000     2.800000     0.000000
25%    2016.000000    5641.250000   145.000000    38.700000     1.600000
50%    2017.000000   19000.000000   145.000000    47.100000     2.000000
75%    2019.000000   36702.000000   150.000000    54.300000     2.800000
max    2020.000000  259000.000000   580.000000   470.800000     6.600000
--------------------------------------------------------------------------------
              year        mileage          tax          mpg   engineSize
count  2672.000000    2672.000000  2672.000000  2672.000000  2672.000000
mean   2016.720434   24617.528443   153.261602    49.787275     2.135105
std       2.898906   23142.032992    80.742530    35.269981     0.768596
min    1970.000000       1.000000     0.000000     2.800000     0.000000
25%    2016.000000    6000.000000   145.000000    37.700000     1.600000
50%    2017.000000   18548.000000   145.000000    47.100000     2.000000
75%    2019.000000   36272.250000   160.000000    54.300000     2.800000
max    2020.000000  167054.000000   580.000000   470.800000     6.300000
--------------------------------------------------------------------------------
               price
count    4960.000000
mean    23469.943750
std     16406.714563
min       450.000000
25%     12000.000000
50%     18999.000000
75%     30335.750000
max    145000.000000
--------------------------------------------------------------------------------

In [73]:
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()
X_train[['year', 'mileage', 'tax', 'mpg', 'engineSize']] = Scaler.fit_transform(X_train[['year', 'mileage', 'tax', 'mpg', 'engineSize']])
X_test[['year', 'mileage', 'tax', 'mpg', 'engineSize']] = Scaler.fit_transform(X_test[['year', 'mileage', 'tax', 'mpg', 'engineSize']])

### 원-핫 인코딩(pd.get_dummies)

In [74]:
# X_train = pd.get_dummies(X_train)
# X_test = pd.get_dummies(X_test)
# # display(X_train.head())
# # display(X_test.head())

In [86]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_train['brand'] = le.fit_transform(X_train['brand'])
X_train['model'] = le.fit_transform(X_train['model'])
X_train['transmission'] = le.fit_transform(X_train['transmission'])
X_train['fuelType'] = le.fit_transform(X_train['fuelType'])

X_test['brand'] = le.fit_transform(X_test['brand'])
X_test['model'] = le.fit_transform(X_test['model'])
X_test['transmission'] = le.fit_transform(X_test['transmission'])
X_test['fuelType'] = le.fit_transform(X_test['fuelType'])

### 데이터 분류(train_test_split)

In [87]:
from sklearn.model_selection import train_test_split
X_tr, X_ts, y_tr, y_ts = train_test_split(X_train, y_train, test_size=0.3)

## 3. 모델링

### 랜덤포레스트

In [88]:
from sklearn.ensemble import RandomForestRegressor
modelRF = RandomForestRegressor()
modelRF.fit(X_tr, y_tr)
modelRF.score(X_ts, y_ts)

C:\Users\inseo\AppData\Local\Temp\ipykernel_7828\540661701.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.9554271514078325

## 4. 모델 학습 및 예측, 평가

In [90]:
from sklearn.metrics import r2_score
y_pred = modelRF.predict(X_test)
r2_score(y_test['price'], y_pred)

0.8128904972006887

In [93]:
pd.DataFrame({'carID':X_test_carID, 'price':y_pred}, ).to_csv('회귀 2. 중고차 가격 예측 데이터.csv', index=False)

In [94]:
pd.read_csv('회귀 2. 중고차 가격 예측 데이터.csv')

      carID         price
0     12000  43499.800000
1     12001  23495.560000
2     12004  49189.146667
3     12013  16305.572500
4     12017  56941.290000
...     ...           ...
2667  19618  48399.000000
2668  19620  25455.550000
2669  19626  15563.130000
2670  19630  20087.680000
2671  19631  14538.860000

[2672 rows x 2 columns]