## 데이터 불러오기

In [45]:
import pandas as pd
#데이터 로드
X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/x_train.csv")
X_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/x_test.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/y_train.csv")

display(x_train.head())
display(y_train.head())

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,8,126,88,36,108,38.5,0.349,49
1,1,0,74,52,10,36,27.8,0.269,22
2,2,1,140,74,26,180,24.1,0.828,23
3,3,6,162,62,0,0,24.3,0.178,50
4,4,2,94,68,18,76,26.0,0.561,21

   ID  Outcome
0   0        0
1   1        0
2   2        0
3   3        1
4   4        0

## EDA

### shape

In [46]:
print(X_train.shape)
print('-'*80)
print(X_test.shape)
print('-'*80)
print(y_train.shape)
print('-'*80)

(614, 9)
--------------------------------------------------------------------------------
(154, 9)
--------------------------------------------------------------------------------
(614, 2)
--------------------------------------------------------------------------------

### info

In [47]:
print(X_train.info())
print('-'*80)
print(X_test.info())
print('-'*80)
print(y_train.info())
print('-'*80)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        614 non-null    int64
 1   Pregnancies               614 non-null    int64
 2   Glucose                   614 non-null    int64
 3   BloodPressure             614 non-null    int64
 4   SkinThickness             614 non-null    int64
 5   Insulin                   614 non-null    int64
 6   BMI                       614 non-null    float64
 7   DiabetesPedigreeFunction  614 non-null    float64
 8   Age                       614 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 43.3 KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        154 non-null    int64
 1   Pregnancies               154 non-null    int64
 2   Glucose                   154 non-null    int64
 3   BloodPressure             154 non-null    int64
 4   SkinThickness             154 non-null    int64
 5   Insulin                   154 non-null    int64
 6   BMI                       154 non-null    float64
 7   DiabetesPedigreeFunction  154 non-null    float64
 8   Age                       154 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 11.0 KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       614 non-null    int64
 1   Outcome  614 non-null    int64
dtypes: int64(2)
memory usage: 9.7 KB
None
--------------------------------------------------------------------------------

### isna

In [48]:
print(X_train.isna().sum().sum())
print('-'*80)
print(X_test.isna().sum().sum())
print('-'*80)
print(y_train.isna().sum().sum())
print('-'*80)

0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------

### fillna, pop, drop

In [49]:
X_train = X_train.drop(columns='ID')
X_test = X_test.drop(columns='ID')
y_train_ID = y_train.pop('ID')
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,8,126,88,36,108,38.5,0.349,49
1,0,74,52,10,36,27.8,0.269,22
2,1,140,74,26,180,24.1,0.828,23
3,6,162,62,0,0,24.3,0.178,50
4,2,94,68,18,76,26.0,0.561,21
...,...,...,...,...,...,...,...,...
609,5,104,74,0,0,28.8,0.153,48
610,4,132,86,31,0,28.0,0.419,63
611,6,80,66,30,0,26.2,0.313,41
612,8,197,74,0,0,25.9,1.191,39
613,2,56,56,28,45,24.2,0.332,22

### 표준화

In [51]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
Scaler1 = MinMaxScaler()
Scaler2 = StandardScaler()
X_train[['Pregnancies', 'Glucose','BloodPressure','SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']] = Scaler2.fit_transform(X_train[['Pregnancies', 'Glucose','BloodPressure','SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']])
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,1.245923,0.171222,0.974279,0.930027,0.248811,0.830260,-0.352672,1.336833
1,-1.152186,-1.481869,-0.906219,-0.706722,-0.390431,-0.532617,-0.601223,-0.955947
2,-0.852422,0.616285,0.242974,0.300508,0.888053,-1.003892,1.135526,-0.871030
3,0.646396,1.315669,-0.383858,-1.336241,-0.710052,-0.978418,-0.883949,1.421750
4,-0.552658,-0.846065,-0.070442,-0.203107,-0.035297,-0.761886,0.305988,-1.040865
...,...,...,...,...,...,...,...,...
609,0.346632,-0.528163,0.242974,-1.336241,-0.710052,-0.405245,-0.961621,1.251915
610,0.046869,0.361963,0.869807,0.615267,-0.710052,-0.507142,-0.135190,2.525682
611,0.646396,-1.291128,-0.174914,0.552316,-0.710052,-0.736411,-0.464520,0.657490
612,1.245923,2.428326,0.242974,-1.336241,-0.710052,-0.774623,2.263324,0.487655
613,-0.552658,-2.054093,-0.697275,0.426412,-0.310526,-0.991155,-0.405489,-0.955947

### 원핫인코딩

### 검증용 데이터 분리

In [60]:
from sklearn.model_selection import train_test_split
X_tr, X_ts, y_tr, y_ts = train_test_split(X_train, y_train, test_size=0.3)

## 모델링

In [61]:
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier()
modelRF.fit(X_tr, y_tr)
modelRF.score(X_ts, y_ts)

C:\Users\inseo\AppData\Local\Temp\ipykernel_8768\2506942179.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.7351351351351352