# 2회 기출 변형

- 작업 3유형 통계 반영

# 작업 1유형

```{attention} 
데이터설명 : 보스턴집값, 각 행은 지역구별 집값관련된 메타정보 : https://www.kaggle.com/datasets/arunjathari/bostonhousepricedata   
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv**
```

In [32]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

```{admonition} 1-1
주어진 Dataset에서 CRIM값이 가장 큰 10개의 지역을 구하고     
10개의 지역의 CRIM값을 그 중 가장 작은 값으로 대체하라. 그리고          
AGE 컬럼 값이 80이상인 대체 된 CRIM 평균값을 구하라      
```

In [33]:
tmp = df.sort_values('CRIM',ascending = False)
tmp['CRIM'][:10] = tmp['CRIM'].values[9]
tmp[tmp['AGE'] >= 80].CRIM.mean()

C:\Users\inseo\AppData\Local\Temp\ipykernel_11076\1594028200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['CRIM'][:10] = tmp['CRIM'].values[9]

5.759386624999999

```{admonition} 1-2
**1-1에서 사용한 데이터에서 RM 중앙값으로 해당 컬럼의 결측치를 대체하라          
그리고 해당 컬럼의 결측치 대치 전후의 표준편차 차이의 절댓값을 소숫점 이하 3째자리 까지 구하라**
```

In [36]:
tmp2 = tmp.copy()
tmp2['RM'] = tmp2['RM'].fillna(tmp2['RM'].median())
round(tmp['RM'].std() - tmp2['RM'].std(),3)

0.027

```{admonition} 1-3
**주어진 Dataset의 DIS 평균으로 부터 1.5 * 표준편차를 벗어나는 영역을 이상치라고 판단하고     
DIS 컬럼의 이상치들의 합을 구하여라.**
```

In [44]:
평균 = df['DIS'].mean()
표준편차 = df['DIS'].std()

상한 = 평균 + 표준편차*1.5
하한 = 평균 - 표준편차*1.5

상한치 = df[df['DIS']>상한].DIS.sum()
하한치 = df[df['DIS']<하한].DIS.sum()
상한치 + 하한치

404.4101

# 작업 2유형

```{attention}  
데이터 설명 : e-commerce 배송의 정시 도착여부 (1: 정시배송 0 : 정시미배송)    
x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv    
y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv  
x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv    
x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_test.csv    
데이터 출처 :https://www.kaggle.com/datasets/prachi13/customer-analytics (참고, 데이터 수정)       

**x_train 데이터로 학습한 모델을 x_test에 적용하여 예측한 결과를 제출하라. 평가 지표는 f1_score이다.**
```

In [138]:
import pandas as pd
from sklearn.preprocessing import RobustScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv')
X_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv')

display(X_train.head())
display(y_train.head())
display(X_test.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6811,D,Ship,5,2,259,5,low,F,7,1032
1,4320,F,Ship,3,5,133,3,medium,F,4,5902
2,5732,F,Road,3,4,191,5,medium,F,4,4243
3,7429,D,Ship,4,2,221,3,low,M,10,4126
4,2191,D,Flight,4,5,230,2,low,F,38,2890

In [64]:
# print(X_train.shape)
# print("="*100)
# print(y_train.shape)
# print("="*100)
# print(X_test.shape)
# print("="*100)

# print(X_train.info())
# print("="*100)
# print(y_train.info())
# print("="*100)
# print(X_test.info())
# print("="*100)

# print(X_train.describe())
# print("="*100)
# print(y_train.describe())
# print("="*100)
# print(X_test.describe())
# print("="*100)

# print(X_train.isna().sum().sum())
# print("="*100)
# print(y_train.isna().sum().sum())
# print("="*100)
# print(X_test.isna().sum().sum())
# print("="*100)

In [139]:
X_train = X_train.drop(columns = ['ID', 'Cost_of_the_Product', 'Discount_offered'])
y_train = y_train.drop(columns = 'ID')
X_test = X_test.drop(columns = ['Cost_of_the_Product', 'Discount_offered'])
X_test_ID = X_test.pop('ID')

le = LabelEncoder()

scaler = RobustScaler()

In [ ]:
#drop : 'ID', 
#pop :
#겟더미 : 'Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender'
#라벨인코딩 : 'Customer_care_calls'
#스케일링 : Customer_rating, Prior_purchases, Weight_in_gms,'Cost_of_the_Product', 'Discount_offered'

In [140]:
le = LabelEncoder()

X_train['Customer_care_calls'] = le.fit_transform(X_train['Customer_care_calls'])
X_test['Customer_care_calls'] = le.fit_transform(X_test['Customer_care_calls'])


scaler = RobustScaler()
ls = ['Customer_rating', 'Prior_purchases', 'Weight_in_gms']

X_train[ls] = scaler.fit_transform(X_train[ls])
X_test[ls] = scaler.fit_transform(X_test[ls])

In [141]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

In [149]:
X_tr, X_ts, y_tr, y_ts = train_test_split(X_train, y_train, test_size = 0.2, stratify = y_train)

In [150]:
import numpy as np
modelRF = RandomForestClassifier()
modelRF.fit(X_tr, np.ravel(y_tr))
y_pred = modelRF.predict(X_ts)
print(f1_score(y_pred, y_ts))

modelRF4 = RandomForestClassifier(n_estimators = 20, max_depth = 5, random_state=1234)
modelRF4.fit(X_tr, np.ravel(y_tr))
y_pred4 = modelRF4.predict(X_ts)
print(f1_score(y_pred4, y_ts))

modelRF5 = RandomForestClassifier(n_estimators = 20, max_depth = 5, random_state=1234)
modelRF5.fit(X_tr, np.ravel(y_tr))
y_pred5 = modelRF5.predict(X_ts)
print(f1_score(y_pred5, y_ts))

modelRF6 = RandomForestClassifier(n_estimators = 20, max_depth = 5, random_state=1234)
modelRF6.fit(X_tr, np.ravel(y_tr))
y_pred6 = modelRF6.predict(X_ts)
print(f1_score(y_pred6, y_ts))

modelRF7 = RandomForestClassifier(n_estimators = 20, max_depth = 5)
modelRF7.fit(X_tr, np.ravel(y_tr))
y_pred = modelRF.predict(X_ts)
print(f1_score(y_pred, y_ts))

modelRF8 = RandomForestClassifier(n_estimators = 20, max_depth = 8)
modelRF8.fit(X_tr, np.ravel(y_tr))
y_pred8 = modelRF8.predict(X_ts)
print(f1_score(y_pred8, y_ts))

modelRF9 = RandomForestClassifier(n_estimators = 20, max_depth = 8)
modelRF9.fit(X_tr, np.ravel(y_tr))
y_pred9 = modelRF9.predict(X_ts)
print(f1_score(y_pred9, y_ts))

0.7052023121387283
0.7141931302657161
0.7141931302657161
0.7141931302657161
0.7052023121387283
0.7084468664850135
0.7163588390501319

In [158]:
modelRF = RandomForestClassifier(n_estimators = 20, max_depth = 5, random_state=2222)
modelRF.fit(X_train, np.ravel(y_train))
y_pred = modelRF.predict(X_ts)
# print(f1_score(y_pred, y_ts))

result = modelRF.predict(X_test)

pd.DataFrame({"ID":X_test_ID , "Reached.on.Time_Y.N":result})

         ID  Reached.on.Time_Y.N
0      6811                    1
1      4320                    0
2      5732                    0
3      7429                    0
4      2191                    1
...     ...                  ...
4396   2610                    1
4397   3406                    1
4398  10395                    0
4399   3646                    0
4400    573                    1

[4401 rows x 2 columns]

# 작업 3유형

```{attention} 
어느 호수에서 잡은 물고기 122마리 길이 데이터(자체제작)
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv**
```

In [159]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head()

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

```{admonition} 3-1-a
**122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만 출력하라**
```

In [166]:
df['미터'] = df['height'].str.replace('cm', '').astype('float')*0.01
round(df['미터'].mean(),5)

0.29951

```{admonition} 3-1-b
**모집단의 평균 길이가 30cm 인지 확인하려 일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라**
```

In [171]:
from scipy.stats import ttest_1samp
s, p = ttest_1samp(df['미터'], popmean=0.3)
print(round(s,3))

-0.217

```{admonition} 3-1-c
**위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 이하 3째자리), 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)**
```

In [172]:
print(round(p,3), "귀무가설 채택")

0.829 귀무가설 채택

```{attention} 
조사결과 70%의 성인 남성이 3년 동안에 적어도 1번 치과를 찾는다고 할때, 21명의 성인 남성이 임의로 추출되었다고 하자. 
```

```{admonition} 3-2 - a
**21명 중 16명 미만이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)**
```

In [174]:
n = 21
k = 16
p = 0.7

from scipy.stats import binom
binom.cdf(k-1, n, p)

0.6372880857234826

```{admonition} 3-2 - b
**적어도 19명이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)**
```

In [177]:
n = 21
k = 19
p = 0.7

1 - binom.cdf(k-1, n, p)

0.027129370541188025