## 2.작업형1

In [ ]:
!git clone https://github.com/Soyoung-Yoon/bigdata

Cloning into 'bigdata'...
remote: Enumerating objects: 41, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (41/41), done.
remote: Total 41 (delta 11), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (41/41), done.

### 2-1.캘리포니어 집값 데이터
결측치를 포함하는 모든 행을 제거한 후, 처음부터 순서대로 70%를 추출하여, 'housing_median_age' 컬럼의 사분위수 Q1의 값을 구하시오
- 주의사항 정답 제출시, 정수형으로 제출해야 함
- "https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing03.csv" 파일 사용

In [ ]:
# 한 문자형 컬럼에 빈칸 ''인 데이터 1건이 있어서
# 빈칸을 결측으로 처리시 빈칸 제거전 242건에서 빈칸 제거후 243건의 행이 제거됨
# 하지만 제거하지 않고 1분위수를 구하더라도 정답은 같음

In [6]:
import pandas as pd
df = pd.read_csv("./bigdata/housing03.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [19]:
df = df.dropna()
tmp = df[:int(len(df)*0.7)]
int(tmp.describe().housing_median_age[4])

19

In [2]:
import pandas as pd
df = pd.read_csv("./bigdata/housing03.csv")
df = df.dropna()
df.shape[0] * 0.7
dff = df.iloc[:14303,:]
ans = dff['housing_median_age'].quantile(0.25)
print(int(ans))

19

### 2-2.연도별 나라별 유병률 데이터
2000년 데이터에 대해 국가 전체 유병률 평균 값보다 큰 값을 가진 국가 개수는?
(year 변수와 국가들의 결핵 유병률 값을 가진 데이터셋이 주어짐)

    year  국가이름1  국가이름2 ...
    1990  356        200
    1991  400        150
    1992  340        180

- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/worlddata.csv' 파일 사용

In [74]:
df = pd.read_csv('./bigdata/worlddata.csv')

In [75]:
tmp = df[df['year'] == 2000].T
tmp = tmp.rename(columns = {1:'값'})
ans = tmp[1:]>tmp[1:].mean().값
len(ans[ans['값'] == True])

76

In [76]:
df = pd.read_csv('./bigdata/worlddata.csv')
df = df[df['year'] == 2000].T
mean = df[1:].mean().values[0]

df = df[1:]
df['got'] = df.values
print(len(df[df['got'] > mean]))

76

### 2-3.타이타닉 데이터
- 각 열의 결측치 비율을 확인 한 후, 결측치의 비율이 가장 높은 변수명을 구하시오
- "https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/titanic_train03.csv" 파일 사용
- 원본 데이터 : https://www.kaggle.com/c/2019-1st-ml-month-with-kakr/overview

In [77]:
df = pd.read_csv('./bigdata/titanic_train03.csv')

In [84]:
df.isna().sum().sort_values().index[-1]

'Age'

In [98]:
df = pd.read_csv('./bigdata/titanic_train03.csv')
ans = df.isna().sum().sort_values(ascending = False).index[0]
print(ans)

Age

## 3.작업형2
travel insurance 데이터 - 보험가입여부 예측
- travel insurance 데이터를 활용해서 보험가입여부를 예측하라. 
- 데이터 : https://www.kaggle.com/agileteam/traval-insurance-exam 
80점 나왔을 때 30점?!
- X_train.csv, y_train.csv
- X_test.csv (예측해서 제출하는 것)
- 평가: roc-auc 평가지표

In [97]:
X_train = pd.read_csv('X_train.csv')
y_train = pd.read_csv('y_train.csv')
X_test = pd.read_csv('X_test.csv')

In [98]:
display(X_train.head())
display(y_train.head())
display(X_test.head())

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1704,26,Private Sector/Self Employed,Yes,1400000,3,1,No,Yes
1,491,28,Private Sector/Self Employed,Yes,1100000,4,1,No,No
2,414,33,Private Sector/Self Employed,Yes,1400000,4,0,No,Yes
3,120,28,Private Sector/Self Employed,Yes,800000,3,1,No,No
4,1268,33,Government Sector,Yes,1000000,5,0,No,Yes

   Unnamed: 0  TravelInsurance
0        1704                0
1         491                1
2         414                1
3         120                0
4        1268                1

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1569,27,Government Sector,Yes,500000,5,0,No,No
1,1344,25,Private Sector/Self Employed,Yes,1700000,3,0,Yes,No
2,1429,32,Government Sector,Yes,650000,3,0,No,No
3,896,33,Government Sector,Yes,600000,4,0,No,No
4,101,33,Private Sector/Self Employed,Yes,1500000,3,1,Yes,Yes

In [107]:
# 직접 코드를 작성해 보세요 ^_^
# 셀을 추가하지 말고 작성해 보시기 바랍니다.

# [2] EDA (, , ,)
# print(X_train.shape)
# print('-'*80)
# print(y_train.shape)
# print('-'*80)
# print(X_test.shape)
# print('-'*80)
# print(X_train.info())
# print('-'*80)
# print(y_train.info())
# print('-'*80)
# print(X_test.info())
# print('-'*80)
# print(X_train.describe())
# print('-'*80)
# print(y_train.describe())
# print('-'*80)
# print(X_test.describe())
# print('-'*80)
# print(X_train.isna().sum().sum())
# print('-'*80)
# print(y_train.isna().sum().sum())
# print('-'*80)
# print(X_test.isna().sum().sum())
# print('-'*80)

# X_train = X_train.drop(columns ='Unnamed: 0') 
# X_test_ID = X_test.pop('Unnamed: 0')
# y_train =y_train.drop(columns ='Unnamed: 0')

# # [3] 데이터 전처리 (표준화, 인코딩, 데이터 생성)
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
le = LabelEncoder()
X_train['Employment Type'] = le.fit_transform(X_train['Employment Type'])
X_train['GraduateOrNot'] = le.fit_transform(X_train['GraduateOrNot'])
X_train['FrequentFlyer'] = le.fit_transform(X_train['FrequentFlyer'])
X_train['EverTravelledAbroad'] = le.fit_transform(X_train['EverTravelledAbroad'])

X_test['Employment Type'] = le.fit_transform(X_test['Employment Type'])
X_test['GraduateOrNot'] = le.fit_transform(X_test['GraduateOrNot'])
X_test['FrequentFlyer'] = le.fit_transform(X_test['FrequentFlyer'])
X_test['EverTravelledAbroad'] = le.fit_transform(X_test['EverTravelledAbroad'])

Scaler = MinMaxScaler()
X_train[['AnnualIncome']] = Scaler.fit_transform(X_train[['AnnualIncome']])
X_test[['AnnualIncome']] = Scaler.fit_transform(X_test[['AnnualIncome']])

In [165]:
from sklearn.model_selection import train_test_split
X_tr, X_ts, y_tr, y_ts = train_test_split(X_train, y_train, test_size = 0.3, stratify = y_train)




# modelRF = RandomForestClassifier(500, max_depth=5).fit(X_tr, y_tr)
# modelRF.score(X_ts, y_ts)

In [166]:
# [4] 모델링
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(random_state = 1234)
modelRF.fit(X_tr, y_tr)
print(modelRF.score(X_ts, y_ts))
y_pred = modelRF.predict(X_ts)

from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score

print(roc_auc_score(y_pred, y_ts))
print(f1_score(y_pred, y_ts))
print(precision_score(y_pred, y_ts))
print(accuracy_score(y_pred, y_ts))
print(recall_score(y_pred, y_ts))

C:\Users\inseo\AppData\Local\Temp\ipykernel_18520\2625379216.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.8053691275167785
0.7997753406126196
0.7030716723549488
0.6358024691358025
0.8053691275167785
0.7862595419847328

In [174]:
# [4] 모델링
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(1234, max_depth = 7)
modelRF.fit(X_tr, y_tr)
print(modelRF.score(X_ts, y_ts))
y_pred = modelRF.predict(X_ts)

from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score

print(roc_auc_score(y_pred, y_ts))
print(f1_score(y_pred, y_ts))
print(precision_score(y_pred, y_ts))
print(accuracy_score(y_pred, y_ts))
print(recall_score(y_pred, y_ts))

C:\Users\inseo\AppData\Local\Temp\ipykernel_18520\1854008175.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.8411633109619687
0.8730994152046784
0.7340823970037453
0.6049382716049383
0.8411633109619687
0.9333333333333333

In [173]:
# [4] 모델링
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier()
modelRF.fit(X_tr, y_tr)
print(modelRF.score(X_ts, y_ts))
y_pred = modelRF.predict(X_ts)

from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score

print(roc_auc_score(y_pred, y_ts))
print(f1_score(y_pred, y_ts))
print(precision_score(y_pred, y_ts))
print(accuracy_score(y_pred, y_ts))
print(recall_score(y_pred, y_ts))

C:\Users\inseo\AppData\Local\Temp\ipykernel_18520\1811800017.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.796420581655481
0.7851653741941512
0.6976744186046512
0.6481481481481481
0.796420581655481
0.7553956834532374