# 3회 기출 변형

# 작업 1유형

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv**
캘리포니아 집값 일부 변형 : https://www.kaggle.com/datasets/harrywang/housing?select=housing.csv%29
```

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

```{admonition} 1-1
**결측치가 하나라도 존재하는 행의 경우 경우 해당 행을 삭제하라. 그후 남은 데이터의 상위 70%에 해당하는 데이터만 남겨둔 후 median_income 컬럼의 1분위수를 반올림하여 소숫점이하 2째자리까지 구하여라**
```

In [16]:

df = df.dropna()
tmp = df[:int(len(df)*0.7)]
print(tmp['median_income'].describe().values[4])

print(tmp['median_income'].quantile(0.25))

2.506
2.506

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv**
년도별 국가의 GDP : https://www.kaggle.com/datasets/tunguz/country-regional-and-world-gdp
```

In [6]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
df.head()

  Country Name Country Code  Year      Value
0   Arab World          ARB  1968  2576068.3
1   Arab World          ARB  1969  2843420.4
2   Arab World          ARB  1970  3138550.0
3   Arab World          ARB  1971  3642691.0
4   Arab World          ARB  1972  4331605.7

```{admonition} 1-2
**1990년도는 해당년도 평균 이하 GDP를 가지지만, 2010년도에는 해당년도 평균 이상 GDP를 가지는 국가의 숫자를 구하여라**
```

In [15]:
df['Year'] = df['Year'] / 10 * 10
a = df[df['Year']==1990]
b = df[df['Year']==2010]
c = a[a['Value'] <= a['Value'].mean()]
d = b[b['Value'] >= b['Value'].mean()]
con1 = c['Country Name']
con2 = d['Country Name']

con1.isin(con2).sum()

5

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv**
타이타닉 탑승자 생존 데이터 : https://www.kaggle.com/competitions/titanic
```

In [16]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S

```{admonition} 1-3
**데이터에서 결측치가 가장 많은 컬럼을 출력하라**
```

In [18]:
df.isna().sum().sort_values().index[-1]

'Fare'

# 작업 2유형

```{attention} 
여행자 보험 가입여부 분류 : https://www.kaggle.com/datasets/tejashvi14/travel-insurance-prediction-data   
**DataUrl(train) = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv**     
**DataUrl(test) = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv**      
종속 변수 : TravelInsurance , TravelInsurance가 1일 확률을 구해서 제출하라. 평가지표 : auc     
제출 파일의 컬럼은 ID, proba 두개만 존재해야한다.

```

In [33]:
import pandas as pd
X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
X_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')
y_train = X_train.pop('TravelInsurance').to_frame()
display(X_train.head())
display(y_train.head())
display(X_test.head())

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1008,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes
1,199,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes
2,86,32,Government Sector,Yes,900000,4,0,No,No
3,560,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes
4,161,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes

   TravelInsurance
0                1
1                1
2                0
3                1
4                1

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,6,31,Government Sector,Yes,1300000,4,0,No,No
1,9,33,Government Sector,Yes,800000,3,0,Yes,No
2,20,28,Private Sector/Self Employed,Yes,1150000,6,0,Yes,No
3,21,29,Private Sector/Self Employed,Yes,350000,3,0,No,No
4,23,28,Government Sector,Yes,600000,9,0,No,No

In [78]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, f1_score
from sklearn.preprocessing import StandardScaler, LabelEncoder

X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
X_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')
y_train = X_train.pop('TravelInsurance').to_frame()
# display(X_train.head())
# display(y_train.head())
# display(X_test.head())

# print(X_train.info())
# print("="*100)
# print(y_train.info())
# print("="*100)
# print(X_test.info())
# print("="*100)

# print(X_train.describe())
# print("="*100)
# print(y_train.describe())
# print("="*100)
# print(X_test.describe())
# print("="*100)

# print(X_train.isna().sum().sum())
# print("="*100)
# print(y_train.isna().sum().sum())
# print("="*100)
# print(X_test.isna().sum().sum())
# print("="*100)

# X_train = X_train.drop(columns = 'ID')
# X_test_ID = X_test.pop('ID')

le = LabelEncoder()
X_train['Employment Type'] = le.fit_transform(X_train['Employment Type'])
X_train['GraduateOrNot'] = le.fit_transform(X_train['GraduateOrNot'])
X_train['FrequentFlyer'] = le.fit_transform(X_train['FrequentFlyer'])
X_train['EverTravelledAbroad'] = le.fit_transform(X_train['EverTravelledAbroad'])

X_test['Employment Type'] = le.fit_transform(X_test['Employment Type'])
X_test['GraduateOrNot'] = le.fit_transform(X_test['GraduateOrNot'])
X_test['FrequentFlyer'] = le.fit_transform(X_test['FrequentFlyer'])
X_test['EverTravelledAbroad'] = le.fit_transform(X_test['EverTravelledAbroad'])


scaler = MinMaxScaler()

ls = ['Age','AnnualIncome','FamilyMembers']
X_train[ls] = scaler.fit_transform(X_train[ls])


X_tr, X_ts, y_tr, y_ts = train_test_split(X_train, y_train, stratify = y_train, random_state = 1234)


modelRF = RandomForestClassifier()
modelRF.fit(X_tr, y_tr)

y_pred_proba = modelRF.predict_proba(X_ts)
# y_pred = modelRF.predict(X_ts)


print(roc_auc_score(y_ts, y_pred_proba[:, 1]))
print(f1_score(y_pred, y_ts))
submission = modelRF.predict_proba(X_test)

pd.DataFrame({"ID":X_test_ID, "TravelInsurance":submission[:,1]})

C:\Users\inseo\AppData\Local\Temp\ipykernel_23316\532642852.py:60: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.786497493734336
0.711111111111111

       ID  TravelInsurance
0       6             0.46
1       9             0.59
2      20             0.55
3      21             0.50
4      23             0.48
..    ...              ...
492  1964             0.49
493  1970             0.60
494  1973             0.59
495  1976             0.52
496  1982             0.66

[497 rows x 2 columns]

In [65]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, f1_score
from sklearn.preprocessing import StandardScaler, LabelEncoder

# 데이터 로딩
X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
X_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')
y_train = X_train.pop('TravelInsurance').to_frame()

# 데이터 전처리
cat_cols = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']
num_cols = ['Age', 'AnnualIncome', 'FamilyMembers']

X_train = pd.get_dummies(X_train, columns=cat_cols)
X_test = pd.get_dummies(X_test, columns=cat_cols)

scaler = StandardScaler()
X_train[num_cols] = scaler.fit_transform(X_train[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

# 학습 데이터 분할
X_tr, X_ts, y_tr, y_ts = train_test_split(X_train, y_train, stratify=y_train, random_state=1234)

# 모델 학습
modelRF = RandomForestClassifier()
modelRF.fit(X_tr, y_tr)

# 모델 평가
y_pred_proba = modelRF.predict_proba(X_ts)[:, 1]  # 클래스 1에 대한 확률 예측값 사용
y_pred = modelRF.predict(X_ts)

# print("Accuracy:", modelRF.score(X_ts, y_ts))
print("ROC AUC Score:", roc_auc_score(y_ts, y_pred_proba))
print("F1 Score:", f1_score(y_ts, y_pred))

C:\Users\inseo\AppData\Local\Temp\ipykernel_23316\1445920935.py:28: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

ROC AUC Score: 0.7788533834586465
F1 Score: 0.711111111111111

# 작업 3유형

```{attention} 
다이어트약의 전후 체중 변화 기록이다. 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv**
**투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다. -3이하 : A등급,  -3초과 0이하 : B등급, 0 초과 : C등급.**
**약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다. 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.**
```

In [80]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

```{admonition} 3-1-a
**A등급에 해당하는 유저는 몇명인지 확인하라**
```

In [85]:
df['diff'] = df['투약후'] - df['투약전']

def groupby_filter(x):
    if x <=-3:
        return 'A'
    
    elif x <=0:
        return 'B'
    
    else:
        return 'C'
    
df['group'] = df['diff'].apply(groupby_filter)
(df['group'] == "A").sum()

121

```{admonition} 3-1-a
**카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라**
```

In [99]:
from scipy.stats import chisquare

target = df['group'].value_counts().sort_index().to_frame()
target['expected'] = [target['group'].sum()*0.5,target['group'].sum()*0.25,target['group'].sum()*0.25]

# from scipy.stats import chisquare
s,p = chisquare(target['group'],target['expected'])
display(target)

round_s = round(s,3)
print(round_s)

   group  expected
A    121    117.50
B     67     58.75
C     47     58.75

3.613

```{admonition} 3-1-a
**카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하고, 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)**
```

In [100]:
print(round(s,3), "귀무 채택")

3.613 귀무 채택

```{attention} 
다이어트약의 전후 체중 변화 기록이다. 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2.csv**
**A,B 공장에서 생산한 기계들의 rpm 값들을 기록한 데이터이다.**
**대응 표본 t 검정을 통해 B공장 제품들이 A 공장 제품들보다 rpm이 높다고 말할 수 있는지 검정하려한다**
```

In [101]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2.csv")
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

```{admonition} 3-2-a
**A,B 공장 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)**
```

In [115]:
from scipy.stats import shapiro, ttest_rel
A = df[df['group'] == "A"]
B = df[df['group'] == "B"]
a_s, a_p = shapiro(A['rpm'])
b_s, b_p = shapiro(B['rpm'])

print(a_p, b_p)

0.397915244102478 0.9562830924987793

```{admonition} 3-2-c
*대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 
귀무가설, 대립가설 중 하나를 출력하라**
```

In [118]:
s, p = ttest_rel(B['rpm'],A['rpm'], alternative = 'greater')
print(round(p,3), '대립가설 채택')

0.009 대립가설 채택